@model VinylStoreMVC.Models.Shipment
@{
    ViewData["Title"] = "Delete";
    var recordQuantities = ViewBag.RecordQuantities as Dictionary<int, int>;
}

<h1>Удаление поставки</h1>

<h3>Вы уверены, что хотите удалить поставку?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Records)
        </dt>
        <dd class="col-sm-10">
            <ul class="list-unstyled">
                @foreach (var record in Model.Records)
                {
                    var quantity = recordQuantities != null && recordQuantities.ContainsKey(record.Id)
                    ? recordQuantities[record.Id]
                    : 0;
                    <li>@record.Name (@record.Artist.Name) - Количество: @quantity</li>
                }
            </ul>
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>